{% extends 'movies/base.html'%}
{% load static %}
{% block content %}

<div class = "container"> 
    <br><br>
    <div class="row"> 
        <div class="col-md-5">
          <br>
          <img class="img-fluid" src="static/{{ movie.imagen }}" alt="" style = "width: 90%;">
          <br><br>
          <h3 class="card-title text-center ">{{ movie.name }}</h3>
        </div> 
        <div class="col-md-7 shadow-lg p-3 mb-5 bg-white rounded">
          <h1 class="my-3">Food Description</h1>
          <p class = "lead">{{ movie.resume }}</p>
          <h1 class="my-3">Food Details</h1>
          <ul>
            <li>{{ movie.producer }}</li>
            <li>{{ movie.director }}</li>
          </ul>
        </div>
    </div>
</div>

{% endblock %}